<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">
        <%= @post.title %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="title">
        Posted by <strong><%= @post.user.name %> (@<em><%= @post.user.handle %></em>)</strong>
      </h5>
      <p class="fst-italic">
        Updated <%= time_ago_in_words(@post.updated_at.localtime) %> ago
      </p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <p class="card-text lead text-justify">
        <%= @post.content %>
      </p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <%= link_to '< All posts', posts_path, class: "btn btn-secondary" %>
    </div>

    <div class="col-md-6">
<!--      <div class="btn-group" role="group" aria-label="Basic example">-->
      <% if user_signed_in? and current_user.id == @post.user.id %>
        <div class="btn-group float-right">
          <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %>
          <%= link_to 'Delete', post_path(@post), class: "btn btn-danger",
                      method: :delete,
                      data: {
                          confirm: "Are you sure to delete the post?"
                      }
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="container mt-2">
  <div class="row">
    <div class="col-12">
<!--      <h3><strong><%#= @post.comments.count %></strong> comments</h3>-->
      <h3><strong><%= pluralize(@post.comments.count, "comment") %></strong></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render @post.comments %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Leave a reply</h3>
    </div>
    <div class="col-12">
      <%= render 'comments/form' %>
    </div>
  </div>
</div>